@font-face {
    font-family: "Lato";
    src: url("LatoRegular.eot"); /* IE9 */
    src: url("LatoRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("LatoRegular.woff") format("woff"), /* chrome, firefox */
    url("LatoRegular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("LatoRegular.svg#Lato") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


